.flex-all-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* main{
    background-color: black;
} */
.btn{
     padding: 5px 10px;
    background-color: var(--main-bg-color);
    color: white;
    border: 2px solid white ;
    border-radius: 7px;
    cursor: pointer;
    
}
.my-1{
    margin: 5px 0;
}
.my-2{
    margin: 12px 0;
}
.text-centre{
    text-align: center;
}